html {
	padding-top: 120px;
}

.container-fluid {
	padding: 10px 30px 10px 30px;
	width: 100%;	
	
}

.navbar.navbar-default.navbar-fixed-top {
	padding: 0px 50px 0px 50px;
	
}

a.navbar-brand {
 padding-top: 0%;
 
}

.navbar-brand img {
  width: auto;
  height: 50px;
  padding-top: 0%;
  border-radius: 15px;
  
}

.title h1{
	text-align: center;
	font-family: "Helvetica Neue"
	font-weight: bold;
	font-size: 60px;
	line-height: 1;
    font-weight: bold;
    letter-spacing: -.02em;
}

.title p {
	font-family: "Open Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 17px;
    line-height: 1,2;
    font-weight: normal;
    letter-spacing: 0;
	text-align: center;
	padding: 10px 100px;
}

.super_title {
	font-size: 70px;
}




.row {

	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
	font-family: photowall;
	font-size: 16px;
	color: grey;
}

.row h1 {
	text-align: center;
	font-family: photowall;
	color:black;
}

.row h4 {
	color: #1B75F0;

	text-align: center;
}

.row span {
	text-align: center;
	width: auto;
}

.row img {
	border-radius: 10px;
}

.row.menu {
	text-align: center;
	
}

.row h2 {

	text-align: center;
	font-family: photowall;
	color:black;
}


.row.noticias {
		
}
.col-md-4 img {
	padding-: 100px;
}

.container-fluid {
	text-align: center;
}

.btn.btn-info {
	padding-right: 70px;
	padding-left: 70px;

}

.footer {
	float: center;
		
	padding-top: 80px;

}

.footer ul {
	list-style: none;
}

.footer h4 {
	text-align: center;
}

.row.footer {
	color: black;
	text-align: center;
}

.container-fluid.form {
	padding-top: 80px;
}

